<!-- website/templates/website/gallery.html -->
{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<h2>Галерия</h2>
<div class="gallery">
    <div class="gallery-item">
        <img src="{% static 'website/images/IMG_20200421_100535.jpg' %}" alt="!">
        <p>Най-новият модел от Stoyanoff Guitars!</p>
        
    </div>
    <div class="gallery-item">
        <img src="{% static 'website/images/IMG_20201117_161939.jpg' %}" alt="Caption for image 2">
        <p>Тест на новата китара от Stoyanoff Guitars.</p>
        
    </div>
    <div class="gallery-item">
        <img src="{% static 'website/images/IMG_20200113_193251.jpg' %}" alt="Caption for image 3">
        <p>Изработка на нов модел от Stoyanoff Guitars.</p>
        
    </div>
    <div class="gallery-item">
        <img src="{% static 'website/images/received_343428593373726.jpeg' %}" alt="Caption for image 4">
        <p>Най-добрите материали за най-добрите инструменти.</p>
        
    </div>
</div>
{% endblock %}
